body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/30/Generic_image_of_asteroid_in_the_Solar_System.jpg");
}

.Heading{
  color: brown;
  font-size: 35px;
  font-style: italic;
}

.head{
  display: flex;
  justify-content: center;
}


.box {
  height: 500px;
  width: 800px;
  border: 5px solid black;
  border-radius: 25%;
  background-color: khaki;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9e/PSYCHE_%28Asteroid%29.jpg");
}
.box2 {
  display: flex;
  justify-content: center;

}

.box3 {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.box4 {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.screen {
  height: 250px;
  width: 500px;
  border-radius: 25%;
  border: 3px solid black;
  background-color: beige;
  color: black;
  font-size: large;
  font-style: italic;
  text-align: center;
  text-wrap: wrap;
}

.button {
  height: 50px;
  width: 100px;
  border-radius: 25%;
  border: 2px solid black;
  background-color: blanchedalmond;
  color: black;
  font-size: large;
  font-style: italic;
}

.dateTime1 {
  background-color: blanchedalmond;
  font-size: large;
  font-style: italic;
  color: black;
  height: 40px;
  text-align: center;
  border-radius: 25%;
  border: 2px solid black;
}

.dateTime2 {
  background-color: blanchedalmond;
  font-size: large;
  font-style: italic;
  color: black;
  height: 40px;
  text-align: center;
  border-radius: 25%;
  border: 2px solid black;
}
